# Temp files
.log
*.log
/logs
.console_history
*.dat
.dat
*.json
.json
!.github/bootstrap-manifest.json
backup
*.zip
.zip
*.db
.db
*.bat
.bat
# Don't want include
/bluemap
/cache
/libraries
/world_nether
/world_the_end
/bluemap.7z
/plugins/.paper-remapped
*.exe
